@using BLL.Services
@inject IUserService _userService;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- <link href="~/css/site.css" rel="stylesheet" type="text/css" /> -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!--<script src="~/Scripts/modernizr-2.6.2.js"></script> -->
    <link href="~/css/site.css" rel="stylesheet" />
    @*fonts*@
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Kreon|Pacifico" rel="stylesheet">



</head>
<body class="body">
    <div class="navbar navbar-fixed-top sms-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Smart Mobile Shopping", "Index", "Landing", new { area = "" }, new { @class = "sms-brand pacifico" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @{

        if (User.Identity.IsAuthenticated)
        {

                <li class="sms-nav-item pacifico">@Html.ActionLink("View Cart", "ViewCart", "Product")</li>

                <li class="sms-nav-item pacifico">@Html.ActionLink("Log out", "Logout", "Login")</li>

                <li> <p class="light pacifico">@User.Identity.Name </p></li>
}
else
{
                <li class="sms-nav-item pacifico" >@Html.ActionLink("Log in", "Login", "Login", new { }, new { @class = "btn btn-default" })</li>
                <li class="sms-nav-item pacifico" >@Html.ActionLink("Register", "Create", "SignUp", new { }, new { @class = "btn btn-default" })</li>

}
                    }

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content app-body">
        @Html.Partial("Message")
        @*@{
            Html.RenderPartial("Message");
        }*@

        @RenderBody()
    </div>
    <hr />
    <footer class="container">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>